{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}  {% endblock title %}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .card{
            margin: 15px 0px;
        }
        .fundoAzul{
          background-color: #e3f2fd;
        }
    </style>
</head>
<body>

    <!-- https://getbootstrap.com.br/docs/4.1/components/navbar/ -->
    <nav class="navbar navbar-expand-lg navbar-light fundoAzul">
        <a class="navbar-brand" href="{% url 'home' %}">NossoBlog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">                       
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </li>
          </ul>

          
        </div>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            {% if user.is_authenticated %}
              Usuário: {{ user.get_username }}   &nbsp;&nbsp;         
              <a class="btn btn-sm btn-outline-secondary" href="{% url 'post-new'%}">Novo Post</a> &nbsp;&nbsp; 
              <a class="btn btn-sm btn-outline-secondary" href="{% url 'logout'%}?next={{request.path}}">Logout</a>

            {% else %}
              <a class="btn btn-sm btn-outline-secondary" href="{% url 'login'%}?next={{request.path}}">Login</a>                           
            {% endif %} 
            
          </li>
          
        </ul>

      </nav>

    <div class="jumbotron text-center fundoAzul" >
        <h1>Nosso blog</h1>
        <p>Seja muito bem vindo ao nosso blog criado com Django!</p>
    </div>

    <!-- https://getbootstrap.com.br/docs/4.1/components/card/ -->
    {% block content %}

    {% endblock content %}   
    

    <div class="jumbotron text-center fundoAzul" style="margin-bottom:0; margin-top: 20px;">
        <p>Desenvolvido por: Tiago P Bonetti</p>
        <p>Entre em contato: tiagopiperno@gmail.com</p>
    </div>
    
</body>
</html>