{% extends 'blog/base.html' %}


{% block title %} Nosso blog - Home {% endblock title %}


{% block content %}

<div class="container">
  <h3>Nossos últimos posts:</h3>
  {% for post in post_list %}
  <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ post.titulo }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ post.data }} por {{ post.autor.first_name }}</h6>
        <p class="card-text">{{ post.conteudo|safe|truncatechars:100 }}</p>
        <a href="{% url 'post-detalhe' post.pk %}" class="card-link">Leia mais</a>              
      </div>
  </div>
  {% endfor %}  
</div>

{% endblock content %}


    
    