{% extends 'blog/base.html' %}


{% block title %} Nosso blog - {{ post.titulo }} {% endblock title %}


{% block content %}

<div class="container">
    
  <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ post.titulo }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ post.data }} por {{ post.autor.first_name }}</h6>
        <p class="card-text">{{ post.conteudo|safe }}</p>                     
      </div>
  </div>  
</div>

{% endblock content %}



